@import url(https://fonts.bunny.net/css?family=abeezee:400);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'ABeeZee', sans-serif;
  font-size: 16px;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

h1 {
  margin-bottom: 1em;
}

.courses {
  list-style: none;
  max-width: 600px;
  width: 100%;
  background: #2C3A47;
  padding: 1em 1em 3em 1em;
  color: #F0F0F0;
}

.courses li {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
}

.buy {
  border-radius: 2em;
  padding: 0.25em 0.5em;
  background-color: #25CCF7;
  margin-left: 0.5em;
  cursor: pointer;
}

.modal-box-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
}

.modal-box-wrapper.opened {
  opacity: 1;
  pointer-events: auto;
  transition: opacity .3s ease-in-out;
}

.modal-box {
  background: white;
  max-width: 600px;
  padding: 2em;
  border-radius: 4px;
  opacity: 0;
  transform: translate3d(0, 90px, 0);
}

.modal-box-wrapper.opened .modal-box {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: all .3s ease-in-out;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.modal-footer {
  display: flex;
  margin-top: 2em;
  justify-content: flex-end;
}

button {
  padding: 0.5em 1em;
  cursor: pointer;
}
