@import url(https://fonts.bunny.net/css?family=abeezee:400);

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'ABeeZee', sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  flex-flow: row nowrap;
  align-items:center;
  justify-content: space-between;
  padding: 1em 2em;
  background-color: #E2E2E2;
}

#logo {
  font-size: 1.5rem;
  margin: 0;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  list-style-type: none;
}

nav ul li {
  display: flex;
  align-items: center;
  margin: 0 1em;
}

.avatar {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}

.alert {
  padding: 1em;
  background: #F0F0F0;
  font-size: 0.815rem;
}